@charset "utf-8";

html, body {
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    font-family: "Microsoft YaHei";
}

@media (max-width: 991px) {
    .visible-xs-none {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .visible-lg-none {
        display: none !important;
    }
}

.col-margin {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.col-margin-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.top-0 {
    margin-top: 0 !important;
}

.top-10 {
    margin-top: 10px !important;
}

.top-20 {
    margin-top: 20px !important;
}

.top-25 {
    margin-top: 25px !important;
}

.top-30 {
    margin-top: 30px !important;
}

.top-40 {
    margin-top: 40px !important;
}

.top-50 {
    margin-top: 50px !important;
}

.top-60 {
    margin-top: 60px !important;
}

.top-70 {
    margin-top: 70px !important;
}

.top-80 {
    margin-top: 80px !important;
}

.top-90 {
    margin-top: 90px !important;
}

.top-100 {
    margin-top: 100px !important;
}

.top-percent-10 {
    margin-top: 10% !important;
}

.top-percent-20 {
    margin-top: 20% !important;
}

.top-percent-30 {
    margin-top: 30% !important;
}

.btn-search {
    min-width: 120px;
    letter-spacing: 1px;
    margin-right: 5px;
}

.input-group {
    width: 100%;
}

.input-group-auto {
    width: auto !important;
}

.input-group-addon {
    width: 9em !important;
}

.input-group-addon-auto {
    width: auto !important;
}

.form-control-auto {
    width: auto !important;
}

.button-gap {
    margin-right: 1.5em;
    min-width: 100px;
    letter-spacing: 2px;
    ;
}

.center {
    text-align: center;
}

.middle {
    vertical-align: middle !important;
}

.input-required {
    background-color: #fffaf3 !important;
}

.error {
    color: #666;
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    font-family: "微软雅黑";
}

#content {
    border-radius: 5px;
    border: 1px dotted silver;
    padding: 10px 30px;
}

.middle-parent {
    display: table;
}

.middle-child {
    display: table-cell;
}

.radius-5 {
    border-radius: 5px;
}

.radius-10 {
    border-radius: 10px;
}

.radius-15 {
    border-radius: 15px;
}

.radius-20 {
    border-radius: 20px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-0 {
    padding-left: 0px;
}

.tip {
    color: red;
}

.hide {
    display: none;
}

.not-found {
    font-size: 30px;
    padding-bottom: 20px;
}

.form-control-percent-20 {
    width: 20% !important;
}

.form-control-percent-30 {
    width: 30% !important;
}

.form-control-percent-40 {
    width: 40% !important;
}

.form-control-percent-50 {
    width: 50% !important;
}

.form-control-percent-60 {
    width: 60% !important;
}

.form-control-percent-70 {
    width: 70% !important;
}

.form-control-percent-80 {
    width: 80% !important;
}

.wechat {
    width: 130px;
    position: absolute;
    right: 0;
    top: 100px;
}

.row {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.footer {
    /*position: absolute;*/
    bottom: 10px;
    width: 100%;
}

    .footer span {
        position: relative;
        bottom: 1em;
        text-align: center;
    }

.pointer {
    cursor: pointer;
}

.tr-37 {
    height: 37px;
}

.no-padding-left {
    padding-left: 0px !important;
}

ul, ul li {
    list-style: none;
}

.top-border {
    border-top: 1px dashed #D8D8D8;
}

.bottom-border {
    border-bottom: 1px dashed #D8D8D8;
}

.right-border {
    border-right: 1px dashed #D8D8D8;
}

.left-border {
    border-left: 1px dashed #D8D8D8;
}

.border-grey {
    border: 1px solid #D8D8D8;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

p, ul, select, input {
    margin: 0;
    padding: 0;
}

.no-padding {
    padding-right: 0;
    padding-left: 0;
}

.search-box {
    height: 230px;
}

    .search-box .list {
        float: left;
        height: auto;
        padding: 0px 0px 20px 0px;
        _padding: 0px 0px 20px 0px;
    }

        .search-box .list ul {
            float: left;
            height: auto;
            padding: 0px 10px 0px 20px;
            overflow: hidden;
        }

        .search-box .list .title {
            font-size: 16px;
            color: #e4000f;
        }

        .search-box .list li {
            float: left;
            height: auto;
            padding: 3px 8px;
            line-height: 120%;
            overflow: hidden;
            word-wrap: break-word;
            word-break: break-all;
            font-size: 12px;
        }

    .search-box .home-price .title {
        width: 6em;
    }

    .search-box .home-phone-section .title {
        width: 6em;
    }

    .search-box .home-orderliness .title {
        width: 6em;
    }

    .search-box .list a:visited {
        text-decoration: none;
    }

    .search-box .list a {
        text-decoration: none;
    }

        .search-box .list a:active {
            color: #f32521 !important;
        }

        .search-box .list a.active {
            color: #f32521 !important;
        }

        .search-box .list a:hover {
            color: #f32521 !important;
        }

        .search-box .list a:link {
            text-decoration: none;
        }

    .search-box .sright {
        border-left: 1px dashed #D8D8D8;
        padding: 20px 20px 20px 20px;
        height: 205px;
        background-color: #FBFBFB;
    }

        .search-box .sright .numbernum {
            font-size: 40px;
            color: #F32521;
            line-height: 150%;
            font-family: "微软雅黑","Microsoft YaHei","Hiragino Sans GB",tahoma,arial,simhei,"黑体";
        }

        .search-box .sright .bottom-line {
            margin-bottom: 15px;
            color: #E2E2E2;
            height: 10px;
            overflow: hidden;
            border-bottom: 1px dashed #E2E2E2;
        }

        .search-box .sright li {
            height: auto;
            text-align: center;
            line-height: 150%;
            font-size: 14px;
            color: #888888;
            margin-bottom: 12px;
        }


.icon-mobile {
    background-image: url("assets/images/mobile.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.icon-unicom {
    background-image: url("assets/images/unicom.png");
    background-position: 0% 50%;
    background-repeat: no-repeat;
}

.icon-telecom {
    background-image: url("assets/images/telecom.png");
    background-position: 0% 50%;
    background-repeat: no-repeat;
}

.red {
    color: #d90100;
}

.bg-color-red {
    background-color: #d90100;
}

.home-list {
    margin-top: 30px !important;
    border-left: 1px solid #ddd;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.phone-list a:hover {
    background-color: #fff3e8;
}

.home-phone {
    height: 90px;
    /*border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;*/
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-collapse: collapse;
    float: left;
    padding-right: 0;
    padding-left: 0;
    /*transition: transform 1s;*/
    /*transition: transform 1s;
    -moz-transition: -moz-transform 1s;
    -webkit-transition: -webkit-transform 1s;
    -o-transition: -o-transform 1s;*/
    /*  webkit-transition: 400ms cubic-bezier(0.550, 0.055, 0.675, 0.190) all;
    -moz-transition: 400ms cubic-bezier(0.550, 0.055, 0.675, 0.190) all;
    -ms-transition: 400ms cubic-bezier(0.550, 0.055, 0.675, 0.190) all;
    -o-transition: 400ms cubic-bezier(0.550, 0.055, 0.675, 0.190) all;
    transition: 400ms cubic-bezier(0.550, 0.055, 0.675, 0.190) all;*/
}

@media (max-width: 767px) {
    .home-phone:nth-child(2n+0) {
        border-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .home-phone:nth-child(3n+0) {
        border-right: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .home-phone:nth-child(4n+0) {
        border-right: 0;
    }
}

@media (min-width: 1200px) {
    .home-phone:nth-child(6n+0) {
        border-right: 0;
    }
}

.home-phone:hover {
    background-color: #fff3e8;
}

.home-number {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(6, 79, 162);
    height: 26px;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: bold;
}

    .home-number a:hover {
        color: #f00;
        text-decoration: underline;
    }

    .home-number i {
        display: inline-block;
        height: 24px;
        width: 24px;
        vertical-align: top;
    }

.home-phone a:hover .home-operator {
    display: none;
}

.home-phone a .home-operator {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    height: 20px;
    color: #707070;
    margin-top: 25px;
}

.home-phone a:hover .home-number-detail {
    display: block;
}

.home-phone a .home-number-detail {
    height: 38px;
    font-size: 14px;
    line-height: 38px;
    color: #FFF;
    text-align: center;
    display: none;
    margin-top: 25px;
}

.home-list .home-sort {
    color: #000;
    font-weight: bolder;
}

.home-list .panel-heading > a {
    text-decoration: none;
    border: 1px solid #3170BD;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 0 5px;
}

.home-list .panel-heading a:active {
    color: red;
}

.home-list .panel-heading a.active {
    color: red;
}

.home-list .pagination {
    margin: 0px;
}

    .home-list .pagination a {
        padding: 0 10px;
    }
